.nav {
    display: none;
}

@media screen and (max-device-width: 1024px) and (orientation:portrait) {
    .nav {
        width: 100%;
        background-color: rgb(0, 0, 0);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px 0;
        z-index: 100;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav_link_container {
        height: 100%;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav_link_container:nth-last-child(1) {
        border: none;
    }
    .nav_link_container .nav_links {
        color: #fff;
        list-style: none;
        font-size: 3vh;
    }
    .username {
        color: #fff;
        list-style: none;
        font-size: 2vw;
    }
    .icons {
        width: 1.5rem;
        object-fit: contain;
        font-size: 3vh;
        color: #fff;
    }
}

@media screen and (max-device-width: 1024px) and (orientation:landscape) {
    .nav {
        width: 100%;
        height: 8vw;
        background-color: rgb(0, 0, 0);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px 0;
        z-index: 100;
        display: flex;
        justify-content: space-evenly;
    }
    .nav_link_container {
        height: 100%;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav_link_container:nth-last-child(1) {
        border: none;
    }
    .nav_link_container .nav_links {
        color: #fff;
        list-style: none;
        font-size: 2vw;
    }
    .username {
        color: #fff;
        list-style: none;
        font-size: 2vw;
    }
    .icons {
        /* width: clamp(1.2em, 1vw, 1vw); */
        object-fit: contain;
        font-size: 2vw;
        color: #fff;
    }
}

@media screen and (max-device-width: 700px) {
    .nav_link_container .nav_links {
        font-size: 1rem;
    }
    .username {
        font-size: 1rem;
    }
    .icons {
        width: 1.1rem;
        font-size: .7rem;
        color: #fff;
    }
}

@media screen and (max-device-height: 480px) and (orientation:landscape) {
    .nav {
        width: 100%;
        height: 60px;
    }
    .icons {
        width: 3.2rem;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-device-width: 430px) {
    .nav_link_container .nav_links {
        font-size: .8rem;
    }
    .username {
        font-size: 1rem;
    }
    .icons {
        width: .9rem;
        font-size: .7rem;
        color: #fff;
    }
}