.image_container {
    width: 320px;
    height: 180px;
    position: relative;
    transition: all 400ms ease-in-out;
    -webkit-font-smoothing: subpixel-antialiased;
    border-radius: 14px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image_container:hover {
    transform: scale(1.07);
}

@media screen and (max-width:1000px) {
    .image_container {
        width: 280px;
        object-fit: cover;
        justify-content: center;
    }
}

@media screen and (max-width:700px) {
    .image_container {
        width: 280px;
        object-fit: cover;
    }
}