.container {
    width: 150px;
    padding: 1px;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all .4s ease-in-out;
}

.container:hover .logout {
    display: block;
}

.container:hover .p {
    display: none;
}

.p {
    color: rgb(255, 255, 255);
    transition: all .4s ease-in-out;
}

.logout {
    display: none;
    color: rgb(243, 2, 2);
    transition: all .4s ease-in-out;
}

.drop_down {
    height: 50px;
    background-color: beige;
}